body {
  background-color: white;
}
.bottom_nav_container {
  text-decoration: none !important;
  width: 12rem;
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
  text-indent: 2.2rem;
  font-size: 1.1rem;
  background-repeat: no-repeat;
  background-position: 0.2rem 0.35rem;
  background-size: 2rem;
  color: #3992ff;
}
.bottom_nav_container:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.bottom_nav_container:active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}
#bottom_nav {
  border-top: 1px solid #e3e3e3;
}

#settings {
  background-image: url(../svg/icons8-settings.svg);
}
#profile {
  background-image: url(../svg/icons8-settings.svg);
}
.remove_text_dec {
  text-decoration: none;
}
