
.view_button{
    text-decoration: none !important;
    width: 12rem;
    font-size: 1rem;
    font-family: inherit;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
    background-color: white;
    line-height: 1.5;
    margin-top: 2rem;
    font-size: 1.1rem;
    background-repeat: no-repeat;
    background-position: 0.2rem 0.35rem;
    background-size: 2rem;
    color: #3992ff;
    bottom: 0.5rem;

}

.main{
   
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
}


.card_text{
    margin-top: 20px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    color: rgb(28, 26, 26);
}